
body{
    background-color:darkgrey;
}

header{
    border-radius: 3px;
}
 
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    justify-content: space-around;
}

.carousel{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.formulario{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 5px;
    
}

.formulario p{
    width: 20%;
}

/* p span{
    background-color: blue;
    width: 40px;
    border-radius: 40%;
} */


.container{
    padding-top: 20px;
}

.table{
    margin-top: 50px;
    border-radius: 10px;
}
